.FORM{
    display: flex;
    text-align: center;
   padding-left:35vw;
}
.footer_section layout_padding{
    transform: translateX(-50vw);
    margin-right: 50vw;
}
.BTN{
    background-color: #250d52;
    color: white;
    border-radius: 20px;
}
.LOGO{
    height: 40px;
    width: 40px;
    padding-right: 2px;
    height: 100px;
    width: 100px;
}
.logo_div{
    color: white;
    font-size: x-large;
}